@import "tailwindcss";

/* Hide scrollbar for all browsers */
body {
  overflow: hidden;
}



.background {
  background-color: rgb(204, 208, 224);
}

.background-2 {
  background-color: rgb(227, 230, 248);
  border-radius: 15px;
}
